html {
   width: 100%;
   height: 100vh;
   background-color: #20bf55;
   background-image: linear-gradient(315deg, #20bf55 0%, #01baef 75%);
}

.splash-page-header {
   font-size: 90px;
   font-family: 'Luckiest Guy', cursive;
   color: rgb(172, 50, 172);
   text-align: center;
}

.signup-login-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
}

.signup-button {
   text-decoration: none;
   border: 2px solid black;
   width: 325px;
   height: 550px;
   text-align: center;
   font-size: 40px;
   font-family: 'Luckiest Guy', cursive;
   color: rgb(10, 161, 161);
   margin: 10px 10px;
   border-radius: 25px;
   padding: 10px;
   box-shadow: 10px 15px grey;
   background-color: white;
}

.signup-button:hover {
   border: 3px solid yellow;
   color: rgb(172, 50, 172);
}

.signup-button div {
   margin-top: 50px;
}

.far {
   font-size: 125px;
   margin-top: 10px;
}

.login-button {
   text-decoration: none;
   border: 2px solid black;
   width: 325px;
   height: 550px;
   text-align: center;
   font-size: 40px;
   font-family: 'Luckiest Guy', cursive;
   color:rgb(10, 161, 161);
   margin: 10px 10px;
   border-radius: 25px;
   padding: 10px;
   box-shadow: 10px 15px grey;
   background-color: white;
}

.login-button:hover {
   border: 3px solid yellow;
   color: rgb(172, 50, 172);
}

.login-button div {
   margin-top: 50px;
}

.login-button .fas {
   font-size: 125px;
   margin-top: 10px;
}

.splash-page-footer {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding: 145px 0px 0px 0px;
   font-size: 15px;
}

.splash-page-team {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}

.splash-page-team div {
   padding: 10px 10px;
   font-size: 15px;
   text-align: center;
}

.splash-page-team div i {
   font-size: 20px;
   padding: 0px 10px;
}

.splash-page-team div i:hover {
   cursor: pointer;
}

.logout, .profile-link {
   border: 3px solid black;
   font-family: 'Luckiest Guy', cursive;
   color: rgb(10, 161, 161);
   box-shadow: 5px 10px grey;
   border-radius: 25px;
   padding: 10px;
   font-size: 25px;
   display: flex;
   justify-content: center;
}

.logout:hover, .profile-link:hover {
   border: 3px solid yellow;
   color: rgb(172, 50, 172);
   background-color: whitesmoke;
}
