.category-page {
   font-size: 90px;
   font-family: 'Luckiest Guy', cursive;
   color:  rgb(172, 50, 172);
   text-align: center;
   padding: 30px 75px;
}

.categories {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin: 30px 0px;
}

.category-buttons {
   width: 300px;
   height: 250px;
   margin: 20px 0px;
   border-radius: 20px;
   border: 2px solid black;
   box-shadow: 7px 10px grey;
   background-color: white;
   font-family: 'Luckiest Guy', cursive;
   font-size: 40px;
   color: rgb(10, 161, 161);
   text-decoration: underline;
   outline: none !important;
   cursor: pointer;
}

.category-buttons:hover {
   border: 2px solid yellow;
   color: rgb(172, 50, 172);
}

.categories-update-group {
   padding: 10px 20px;
   background-color: white;
   border: 1px solid black;
   font-family: 'Luckiest Guy', cursive;
   font-size: 20px;
   color: rgb(10, 161, 161);
   border-radius: 7px;
   cursor: pointer;
   text-decoration: none;
}

.categories-update-group:hover {
   border: 2px solid yellow;
   color: rgb(172, 50, 172);
}
