.results-page {
   font-family: 'Luckiest Guy', cursive;
   text-align: center;
}

.results-header {
   color: rgb(172, 50, 172);
   font-size: 50px;
}

.results-users {
   color: white;
   font-size: 25px;
}

.results-winner {
   color: gold;
   font-size: 40px;
}

.results-options {
   margin-top: 70px;
}

.results-play-again {
   color: rgb(10, 161, 161);
   border: 1px solid black;
   border-radius: 5px;
   padding: 20px;
   margin: 10px;
   text-decoration: none;
   background-color: white;
   font-size: 20px;
   cursor: pointer;
}

.results-play-again:hover {
   color: rgb(172, 50, 172);
   border: 2px solid yellow;
}

.results-end-game {
   color: rgb(10, 161, 161);
   border: 1px solid black;
   border-radius: 5px;
   padding: 20px;
   margin: 10px;
   text-decoration: none;
   background-color: white;
   font-size: 20px;
   cursor: pointer;
}

.results-end-game:hover {
   color: rgb(172, 50, 172);
   border: 2px solid yellow;
}
